  /* body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuBd-mISTLqjyMHeUhZigzoeLWOw1nISPP_Zm4GNUUsS95Whz99Q");
    background-repeat: no-repeat;
    background-size: cover;
}   */


 img{
    border-radius: 30%;
    height: 200px;
    width:200px;
}

 .page-header{
    padding:50px;
    color: white;
    text-align: center; 
}


h1{
    font-size: 30px;
    text-align: center;
}


.display-1{

    font-size: 170px;
    color: yellowgreen;
    text-align: center;
    font-family: 'Pacifico', cursive;
    text-decoration:underline ;
  
}

.pacifico{
    padding:30px;
    font-family: 'Gloria Hallelujah', cursive;
    text-align:center;
    font-weight: bolder;
    
}


li{
    font-size: 20px;
    padding: 30px;
 
}

h6{
    text-align: center;
    color:yellowgreen;
    font-weight: bolder;
    font-family: 'Pacifico', cursive;
    font-size: 100px;

}

.col-md-4{
    padding: 0;
    
}

.logs{
    margin:0;
    padding-top:0;
    text-align: center;
}
.logs img{
    width:20%;
    height:20%;
    opacity:0.7;
} 

.one{
    text-align: center;
}


/* 
.row{
    border-radius: 10px;
} 

p{
    color:black;
    font-weight: bolder;
}

.one,.two,.three{
    text-align: center
} */
/* 
.sec-2{
    /* background-color:#0a18b554; */
    /* border-radius: 90px;
    width:90%;
    padding-left:90px;
} */ */

.sec-1{
    border-bottom: 1px solid yellowgreen;
}


