  body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuBd-mISTLqjyMHeUhZigzoeLWOw1nISPP_Zm4GNUUsS95Whz99Q");
    background-repeat: no-repeat;
    background-size: cover;
}  

 img{
    border-radius: 30%;
    height: 200px;
    width:200px;
}

 .page-header{
    padding:100px;
    color: white;
    text-align: center; 
}


h1{
    font-size: 30px;
    text-align: center;
}


.display-1{
    border-top: 1px solid yellowgreen;
    border-bottom:1px solid yellowgreen;
    font-size: 130px;
    color: yellowgreen;
    text-align: center;
    font-family: 'Pacifico', cursive;
}

.pacifico{
    padding:30px;
    font-family: 'Gloria Hallelujah', cursive;
    
}

li{
    font-size: 20px;
    padding: 30px;
 
}

h6{
    text-align: center;
    color:yellowgreen;
    font-weight: bolder;
    font-size: 130px;
}

.col-md-4{
    padding: 100px;
    
}

.logs{
    margin:0;
    padding-top:0;
    text-align: center;
}
.logs img{
    width:20%;
    height:20%;
    opacity:0.7;
} 